<% provide(:title, "ChirppApplication") %>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>
<body>
<h1> About Us </h1>
<p>
  This application was developed by Priya and Akansha as a part of their coursework.
</p>
</body>
</html>
