<% provide(:title, "ChirppApplication") %>
<html>
<head>
  <title><%= yield(:title) %></title>
</head>
<body>
<h1> Contact Us </h1>
<p>
  In case of any issues with the application write to us at <a href="mailto:webmaster@example.com">rordevsuh@gmail.com</a>
</p>
</body>
</html>